*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{ 
    box-sizing: border-box;
    padding: 18px;
    display: flex;
    justify-content: space-around;
}
h1{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}
p{
padding: 40px;
text-align: justify;
}

.row1{
    margin: 0;
    background-color: brown;
    float: right;
    border: 1px solid black;
    position: relative;
}
.row2{
    background-color: blanchedalmond;
    float: right;
    margin: 0;
    border: 1px solid black;
    position: relative;
}
.row3{
margin: 0;
background-color: cadetblue;
float: right;
position: relative;
border: 1px solid black;
}
@media (min-width:992px)
{
    .row {
    flex-direction: row;
}
}
@media(max-width:991px) and (min-width:768px)
{ 
    .row{
        flex-wrap: wrap;
        flex-direction: row;
    box-sizing: border-box;

    }
    .col:nth-child(1), .col:nth-child(2)
    {
        flex:1;
    }
    
    
}


@media(max-width:767px)
{
   .row{
    flex-wrap: wrap;
   }
}

.col{
    background-color: gray;
    box-sizing: border-box;
    margin: 5px;
    border: 2px solid black;
    font-family:Helvetica;  
} 